.scrollbarFace::-webkit-scrollbar {
  width: 0;
}
.textArea:focus {
  outline: none;
  resize: none;
}
.hoverLanguage:hover {
  background-color: #f3f4f8 !important;
}
.hoveringOver:hover {
  background-color: #d9ebff !important;
}
